@charset "UTF-8";


h1 {
    color:red;
    font-size:5em;
    text-align:center;
    margin-top:1em;
    border-bottom:2px solid red;
    }

p { 
    color:red;
    font-size:2em;
    }

table {
    color:red;
    }

input {
    font-size:2em;
    display:inline-block;
    width:4em;
    height:1em;
    text-align:center;
    }

.e {
    background-color:red;
    vertical-align:middle;
    font-size:1.5em;
    width:2em;
    height:1.5em;
    }
.i {
    font-size:1.3em;}
